In [1]:
#importing libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
data = pd.read_csv('C:/Users/DELL/OneDrive/Desktop/datasets/healthcare-dataset-stroke-data.csv')

In [3]:
data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [4]:
data.shape

(5110, 12)

In [5]:
data.size

61320

In [6]:
data.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [7]:
data['bmi']

0       36.6
1        NaN
2       32.5
3       34.4
4       24.0
        ...
5105     NaN
5106    40.0
5107    30.6
5108    25.6
5109    26.2
Name: bmi, Length: 5110, dtype: float64

In [8]:
print(data['bmi'].mode())

0    28.7
Name: bmi, dtype: float64

In [9]:
data['bmi'].fillna(data['bmi'].mean(), inplace=True)

In [10]:
data.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [11]:
data.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,7.698018,0.215320
min,67.000000,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,23.800000,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,28.400000,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,32.800000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [13]:
data['work_type'].unique()

array(['Private', 'Self-employed', 'Govt_job', 'children', 'Never_worked'],
      dtype=object)

In [14]:
data.replace({'work_type':{'Private':0,'Self-employed':1,'Govt_job':2,'children':3,'Never_worked':4}}, inplace=True)

In [15]:
data['Residence_type'].unique()

array(['Urban', 'Rural'], dtype=object)

In [16]:
data.replace({'Residence_type':{'Urban':0,'Rural':1}}, inplace=True)

In [17]:
data['ever_married'].unique()

array(['Yes', 'No'], dtype=object)

In [18]:
data.replace({'ever_married':{'Yes':0,'No':1}}, inplace=True)

In [19]:
data['smoking_status'].unique()

array(['formerly smoked', 'never smoked', 'smokes', 'Unknown'],
      dtype=object)

In [20]:
data.replace({'smoking_status':{'formerly smoked':0,'never smoked':1,'smokes':2,'Unknown':3}}, inplace=True)

In [22]:
data['gender'].unique()

array(['Male', 'Female', 'Other'], dtype=object)

In [23]:
data.replace({'gender':{'Male':0,'Female':1,'Other':2}}, inplace=True)

In [24]:
data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,0,67.0,0,1,0,0,0,228.69,36.600000,0,1
1,51676,1,61.0,0,0,0,1,1,202.21,28.893237,1,1
2,31112,0,80.0,0,1,0,0,1,105.92,32.500000,1,1
3,60182,1,49.0,0,0,0,0,0,171.23,34.400000,2,1
4,1665,1,79.0,1,0,0,1,1,174.12,24.000000,1,1

In [25]:
X = data.drop(columns=['stroke'], axis =1)

In [26]:
X

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,9046,0,67.0,0,1,0,0,0,228.69,36.600000,0
1,51676,1,61.0,0,0,0,1,1,202.21,28.893237,1
2,31112,0,80.0,0,1,0,0,1,105.92,32.500000,1
3,60182,1,49.0,0,0,0,0,0,171.23,34.400000,2
4,1665,1,79.0,1,0,0,1,1,174.12,24.000000,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,1,80.0,1,0,0,0,0,83.75,28.893237,1
5106,44873,1,81.0,0,0,0,1,0,125.20,40.000000,1
5107,19723,1,35.0,0,0,0,1,1,82.99,30.600000,1
5108,37544,0,51.0,0,0,0,0,1,166.29,25.600000,0
5109,44679,1,44.0,0,0,0,2,0,85.28,26.200000,3

In [27]:
Y = data['stroke']

In [28]:
Y

0       1
1       1
2       1
3       1
4       1
       ..
5105    0
5106    0
5107    0
5108    0
5109    0
Name: stroke, Length: 5110, dtype: int64

In [29]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2, random_state=2)

In [30]:
print(X.shape,X_train.shape,X_test.shape)

(5110, 11) (4088, 11) (1022, 11)

In [31]:
model=LogisticRegression()

In [32]:
model.fit(X_train,Y_train)

LogisticRegression()

In [33]:
X_train_prediction = model.predict(X_train)

In [34]:
print(X_train_prediction)

[0 0 0 ... 0 0 0]

In [36]:
from sklearn.metrics import accuracy_score

In [37]:
training_data_accuracy = accuracy_score(Y_train,X_train_prediction)

In [38]:
print('Accuracy score of training data:',training_data_accuracy)

Accuracy score of training data: 0.9503424657534246

In [39]:
X_text_prediction = model.predict(X_test)

In [40]:
print(X_text_prediction)

[0 0 0 ... 0 0 0]

In [44]:
test_data_accuracy = accuracy_score(Y_test,X_text_prediction)

In [45]:
print('Accuracy score of test data:',test_data_accuracy)

Accuracy score of test data: 0.9500978473581213

In [48]:
model.score(X_test,Y_test)

0.9500978473581213